<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>OneThink 管理平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="renderer" content="webkit">
        <link href="__PUBLIC__/Common/css/bootstrap.min.css" rel="stylesheet">
        <link href="__PUBLIC__/Common/css/flat-ui.css" rel="stylesheet">
        <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet">
        <style>
            table{font-size:12px;}
        </style>
    </head>
    <body>
        <div style="padding:10px;">
            <block name="body"></block>
        </div>
        <script src="__PUBLIC__/Common/js/jquery.min.js"></script>
        <script src="__PUBLIC__/Common/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/Admin/js/admin.js"></script>
    </body>
</html>
