<extend name="Public/body-base" />
<block name="body">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="fui-list"></span> 幻灯片列表</div>
        <div class="panel-body">
            <div class="btn-group">
                <a class="btn btn-primary" href="*">新增</a>
                <button type="button" class="btn btn-primary">启用</button>
                <button type="button" class="btn btn-primary">禁用</button>
                <button type="button" class="btn btn-primary">删除</button>
            </div>
        </div>
        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>URL</th>
                        <th>规则</th>
                        <th>排序</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>URL</th>
                    <th>规则</th>
                    <th>排序</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- Panel footer -->
        <div class="panel-footer">

        </div>
    </div>
</block>
